@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 844px) {
    /* … */
    .hideSideBar{
        display: none;
    }
    .showAllBar{
        width: 100% !important;
    }
}

input, textarea, select {
    --tw-ring-shadow: 0 0 #000 !important;
  }
  